

<div class="modal fade" id="PopupModal" tabindex="-1" aria-labelledby="PopupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form method="POST" id="modal-form">
            {% csrf_token %}
            <button type="submit" id="modal-submit"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
    <script>
      function showModal(endpoint) {
        fetch(endpoint)
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("modal-title").innerHTML = data.modal_title;
            document.getElementById("modal-body").innerHTML = data.modal_body;
            document.getElementById("modal-submit").innerHTML = data.modal_submit;
            document.getElementById("modal-submit").className = data.modal_submit_class;
            document.getElementById("modal-form").action = data.modal_form_action;
            var myModal = new bootstrap.Modal(document.getElementById('PopupModal'), { keyboard: false });
            myModal.show();
        })
      };
    </script>
