{% extends "content.html" %}
{% load crispy_forms_tags %}

{% block breadcrumbs  %}
    <li class="breadcrumb-item "><a href="{% url 'projects:project-list' %}">Projects</a></li>
    <li class="breadcrumb-item active">New project</li>
{% endblock %}

{% block top-buttons  %}
    <a href="{% url 'projects:project-list' %}" class="btn btn-outline-primary btn-sm">Cancel</a>
{% endblock %}


{% block content-main  %}
    {% load static %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {% crispy form %}
    {% include 'select2css.html' %}
{% endblock %}