{% extends "content.html" %}
{% load static %}

{% block breadcrumbs  %}
    <li class="breadcrumb-item active">Projects</li>
{% endblock %}

{% block top-buttons %}
    {% if view.kwargs.all %}
        <a href="{% url 'projects:project-list' %}" class="btn btn-outline-primary btn-sm">Show active</a>{% endif %}
    {% if not view.kwargs.all %}
        <a href="{% url 'projects:project-list-all' %}" class="btn btn-outline-primary btn-sm">Show all</a>{% endif %}
    {% if perms.projects.create_project %}
        <a href="{% url 'projects:project-create' %}" class="btn btn-success btn-sm">New Project</a>{% endif %}
{% endblock %}

{% block content-main %}
    {% if projects.count > 0%}
    <table class="table table-striped align-middle table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="col-3">Name</th>
                <th scope="col" class="col-3">Client</th>
                <th scope="col" class="col-3">Managers</th>
                <th scope="col">Status</th>
                <th scope="col">Visibility</th>
                <th scope="col">Chargability</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr scope="row">
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ project.get_absolute_url }}">{{ project }}</a></td>
                <td>{{ project.client }} </td>
                <td>
                    {% for manager in project.managers.all %}
                        <a href="{{ manager.get_absolute_url }}">{{ manager }}</a>; 
                    {% endfor %}
                <td>{% if project.is_active %} <span class="badge bg-primary">Active</span>{% else %}<span class="badge bg-secondary">Archived</span>{% endif %}</td>
                <td>{% if project.is_public %} <span class="badge bg-primary">Public</span>{% else %}<span class="badge bg-secondary">Hidden</span>{% endif %}</td>
                <td>{% if project.is_chargable %} <span class="badge bg-primary">Chargable</span>{% else %}<span class="badge bg-secondary">Internal</span>{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}